<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Trip Add formular</h3>

        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="form-group">
            <label>From Location</label>
            <input name="fromLocation" ngModel>
          </div>
          <div class="form-group">
            <label>To Location</label>
            <input name="toLocation" ngModel>
          </div>
          <div class="form-group">
            <label>Author Information</label>
            <input name="authorInformation" ngModel>
          </div>
          <div class="form-group">
            <label>Hotel Name</label>
            <input name="hotelName" ngModel>
          </div>
          <div class="form-group">
            <label>Type</label>
            <input name="type" ngModel>
          </div>
          <div class="form-group">
            <label>Estimated Cost</label>
            <input name="estimatedCost" ngModel>
          </div>
          <button class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div *ngFor="let trip of trips">
  <div *ngIf="trips">
    <p *ngIf="trip.id">Trip ID : <span>{{ trip.id }}</span></p>
    <p>Trip FROM LOCATION: <span>{{ trip.fromLocation }}</span></p>
    <p>Trip TO LOCATION: <span>{{ trip.toLocation }}</span></p>
    <p>Trip AUTHOR INFORMATION: <span>{{ trip.authorInformation }}</span></p>
    <p>Trip HOTEL NAME: <span>{{ trip.hotelName }}</span></p>
    <p>Trip TYPE: <span>{{ trip.type }}</span></p>
    <!-- <p>Form value: {{ f.value | json }}</p> -->
    <!-- <p>Form valid: {{ f.valid }}</p> -->
    <br /><br />
  </div>
</div>